body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
    padding: 20px;
}

/* Title */
h1 {
    margin-bottom: 30px;
    font-size: 36px;
}

/* Buttons container */
button {
    background: #22c55e;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #16a34a;
    transform: scale(1.05);
}

/* Inputs */
input {
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 250px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 15px;
}

/* Boxes */
div {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    margin-top: 20px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

/* Result */
p {
    margin-top: 15px;
    font-weight: bold;
    color: #22c55e;
    font-size: 18px;
}
